In [72]:
import pandas as pd

bank_df = pd.read_csv('bankdata.csv.crdownload')
bank_df

,step,customer,age,gender,zipcodeOri,merchant,zipMerchant,category,amount,fraud
0,0,'C1093826151','4','M','28007','M348934600','28007','es_transportation',4.55,0
1,0,'C352968107','2','M','28007','M348934600','28007','es_transportation',39.68,0
2,0,'C2054744914','4','F','28007','M1823072687','28007','es_transportation',26.89,0
3,0,'C1760612790','3','M','28007','M348934600','28007','es_transportation',17.25,0
4,0,'C757503768','5','M','28007','M348934600','28007','es_transportation',35.72,0
...,...,...,...,...,...,...,...,...,...,...
594638,179,'C1753498738','3','F','28007','M1823072687','28007','es_transportation',20.53,0
594639,179,'C650108285','4','F','28007','M1823072687','28007','es_transportation',50.73,0
594640,179,'C123623130','2','F','28007','M349281107','28007','es_fashion',22.44,0
594641,179,'C1499363341','5','M','28007','M1823072687','28007','es_transportation',14.46,0
594642,179,'C616528518','4','F','28007','M1823072687','28007','es_transportation',26.93,0

In [73]:
  print(pd.unique(bank_df['category']))

["'es_transportation'" "'es_health'" "'es_otherservices'" "'es_food'"
 "'es_hotelservices'" "'es_barsandrestaurants'" "'es_tech'"
 "'es_sportsandtoys'" "'es_wellnessandbeauty'" "'es_hyper'" "'es_fashion'"
 "'es_home'" "'es_contents'" "'es_travel'" "'es_leisure'"]

In [74]:
result_0 = bank_df.loc[bank_df['fraud'] == 0]

used_data0=result_0.loc[:10]
len(used_data0)

result_1 = bank_df.loc[bank_df['fraud'] == 1]
result_1 = result_1.reset_index()
used_data1=result_1.loc[:197]

frames = [used_data0, used_data1]

result = pd.concat(frames)
result = result.reset_index()
result

,level_0,step,customer,age,gender,zipcodeOri,merchant,zipMerchant,category,amount,fraud,index
0,0,0,'C1093826151','4','M','28007','M348934600','28007','es_transportation',4.55,0,NaN
1,1,0,'C352968107','2','M','28007','M348934600','28007','es_transportation',39.68,0,NaN
2,2,0,'C2054744914','4','F','28007','M1823072687','28007','es_transportation',26.89,0,NaN
3,3,0,'C1760612790','3','M','28007','M348934600','28007','es_transportation',17.25,0,NaN
4,4,0,'C757503768','5','M','28007','M348934600','28007','es_transportation',35.72,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
204,193,4,'C1173530601','2','M','28007','M480139044','28007','es_health',475.90,1,11913.0
205,194,4,'C1338125837','3','F','28007','M980657600','28007','es_sportsandtoys',193.16,1,12127.0
206,195,4,'C1275518867','5','F','28007','M980657600','28007','es_sportsandtoys',34.65,1,12128.0
207,196,4,'C1032319289','3','F','28007','M855959430','28007','es_hyper',127.28,1,12198.0
208,197,4,'C594793398','2','F','28007','M855959430','28007','es_hyper',57.72,1,12199.0

In [75]:
result['age'] = result['age'].str.replace('[^0-9]', '', regex=True)

# used_data=used_data.loc[:, used_data.columns.drop(['level_0'])]

result['zipcodeOri'] = result['zipcodeOri'].str.replace('[^0-9]', '', regex=True)

result['zipMerchant'] = result['zipMerchant'].str.replace('[^0-9]', '', regex=True)
# used_data=used_data.loc[:, used_data.columns.drop(['level_0'])]

In [76]:
from sklearn.preprocessing import LabelEncoder
ce = LabelEncoder()
result['category'] = ce.fit_transform(result['category'])
result['gender'] = ce.fit_transform(result['gender'])

result['merchant'] = result['merchant'].str[2:-1].astype(int)

result

,level_0,step,customer,age,gender,zipcodeOri,merchant,zipMerchant,category,amount,fraud,index
0,0,0,'C1093826151',4,1,28007,348934600,28007,10,4.55,0,NaN
1,1,0,'C352968107',2,1,28007,348934600,28007,10,39.68,0,NaN
2,2,0,'C2054744914',4,0,28007,1823072687,28007,10,26.89,0,NaN
3,3,0,'C1760612790',3,1,28007,348934600,28007,10,17.25,0,NaN
4,4,0,'C757503768',5,1,28007,348934600,28007,10,35.72,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
204,193,4,'C1173530601',2,1,28007,480139044,28007,2,475.90,1,11913.0
205,194,4,'C1338125837',3,0,28007,980657600,28007,8,193.16,1,12127.0
206,195,4,'C1275518867',5,0,28007,980657600,28007,8,34.65,1,12128.0
207,196,4,'C1032319289',3,0,28007,855959430,28007,5,127.28,1,12198.0
208,197,4,'C594793398',2,0,28007,855959430,28007,5,57.72,1,12199.0

In [77]:
result=result.loc[:, result.columns.drop(['index', 'level_0'])]
result

,step,customer,age,gender,zipcodeOri,merchant,zipMerchant,category,amount,fraud
0,0,'C1093826151',4,1,28007,348934600,28007,10,4.55,0
1,0,'C352968107',2,1,28007,348934600,28007,10,39.68,0
2,0,'C2054744914',4,0,28007,1823072687,28007,10,26.89,0
3,0,'C1760612790',3,1,28007,348934600,28007,10,17.25,0
4,0,'C757503768',5,1,28007,348934600,28007,10,35.72,0
...,...,...,...,...,...,...,...,...,...,...
204,4,'C1173530601',2,1,28007,480139044,28007,2,475.90,1
205,4,'C1338125837',3,0,28007,980657600,28007,8,193.16,1
206,4,'C1275518867',5,0,28007,980657600,28007,8,34.65,1
207,4,'C1032319289',3,0,28007,855959430,28007,5,127.28,1
208,4,'C594793398',2,0,28007,855959430,28007,5,57.72,1

In [78]:
result=result.loc[:, result.columns.drop(['step'])]

In [79]:
result['customer'] = result['customer'].str[2:-1].astype(int)

In [80]:
labels = result['fraud']
labels
result=result.loc[:, result.columns.drop(['age', 'zipcodeOri', 'merchant', 'zipMerchant'])]

In [81]:
result.values

array([[1.09382615e+09, 1.00000000e+00, 1.00000000e+01, 4.55000000e+00,
        0.00000000e+00],
       [3.52968107e+08, 1.00000000e+00, 1.00000000e+01, 3.96800000e+01,
        0.00000000e+00],
       [2.05474491e+09, 0.00000000e+00, 1.00000000e+01, 2.68900000e+01,
        0.00000000e+00],
       ...,
       [1.27551887e+09, 0.00000000e+00, 8.00000000e+00, 3.46500000e+01,
        1.00000000e+00],
       [1.03231929e+09, 0.00000000e+00, 5.00000000e+00, 1.27280000e+02,
        1.00000000e+00],
       [5.94793398e+08, 0.00000000e+00, 5.00000000e+00, 5.77200000e+01,
        1.00000000e+00]])

In [82]:
labels.values

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [83]:
!qbraid jobs enable default

You have already enabled qBraid Quantum Jobs in the default environment.

In [84]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from qiskit import Aer
from qiskit.circuit.library import ZZFeatureMap
from qiskit_machine_learning.algorithms import QSVC
from qiskit_machine_learning.datasets import ad_hoc_data
from qiskit_machine_learning.kernels import QuantumKernel

from qiskit_ibm_provider import IBMProvider

provider = IBMProvider(instance='ibm-q-startup/qbraid/main')

backend = provider.get_backend('ibmq_qasm_simulator')


# Load the credit card fraud detection dataset
# df = pd.read_csv('creditcard.csv')
# Split the dataset into training and testing sets
X = result.iloc[:, :-1]
y = result.iloc[:, -1]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
# Encode the training and testing data onto a quantum circuit using the ZZFeatureMap
feature_map = ZZFeatureMap(X.shape[1], reps=2)
# backend = Aer.get_backend('qasm_simulator')
print('*'*100)
qkernel = QuantumKernel(feature_map,quantum_instance=backend)
# X_train_encoded = qkernel.evaluate(X_train)
# X_test_encoded = qkernel.evaluate(X_test)
# Set up the QSVC algorithm
print('instantiating qvc')
svm = QSVC(quantum_kernel=qkernel        
        )
# Train the QSVC algorithm on the training data
print('training')
svm.fit(X_train, y_train)
print('done')
# Test the QSVC algorithm on the testing data
y_pred = svm.predict(X_test)
print('done predict')
# Print the accuracy of the QSVC algorithm
accuracy = np.mean(y_pred == y_test)
print("Accuracy:", accuracy)

****************************************************************************************************
instantiating qvc
training
done

FAILURE: Can not get job id, Resubmit the qobj to get job id. Terra job error: "HTTPSConnectionPool(host='api-staging-1.qbraid.com', port=443): Max retries exceeded with url: /api/ibm-routes?route=/backends/ibmq_qasm_simulator/status (Caused by ResponseError('too many 500 error responses'))"

done predict
Accuracy: 0.9682539682539683